<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head th:insert="~{Layouts/Head :: head}"> </head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern vertical-collapsed-menu 2-columns   menu-collapsed fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav th:insert="~{Layouts/Navbar :: navbar}">
        
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Main Menu-->
    <div th:insert="~{Layouts/MainMenu :: mainMenu}"> </div>

    <!-- <div id="menuPrincipal"> </div> -->

    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Gestion de Enlaces</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <button type="button" class="btn btn-success btn-min-width box-shadow-2 mr-1 mb-1" data-toggle="modal"
                                        data-target="#formRol" onclick="modalRol()">Agregar Rol</button>
                                </li>
                                <li class="breadcrumb-item">
                                    <button type="button" class="btn btn-info btn-min-width box-shadow-2 mr-1 mb-1"  data-toggle="modal"
                                    data-target="#formEnlace" onclick="modalEnlace()">Agregar Enlace</button>
                                </li>
                                <li class="breadcrumb-item">
                                    <button type="button" class="btn btn-primary btn-min-width box-shadow-2 mr-1 mb-1"  data-toggle="modal"
                                    data-target="#formSubEnlace" onclick="modalSubEnlace()">Agregar Sub Enlace</button>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- <div class="content-header-right col-md-6 col-12">
                    <div class="btn-group float-md-right">
                        <button class="btn btn-info dropdown-toggle mb-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                        <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar-check mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="content-body">
                <section id="file-export">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <!-- <h4 class="card-title">Gestion de Enlaces</h4> -->
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                                       <div id="tablaEnlace">

                                       </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal fade text-left" id="formRol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div id="modalRol" class="modal-content">
                       
                    </div>
                </div>
            </div>
            <div class="modal fade text-left" id="formEnlace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div id="modalEnlace" class="modal-content">
                       
                    </div>
                </div>
            </div>
            <div class="modal fade text-left" id="formSubEnlace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div id="modalSubEnlace" class="modal-content">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer th:insert="~{Layouts/Footer :: footer}"> </footer>
    <!-- END: Footer-->
    
    <div th:insert="~{Layouts/Scripts :: scripts}"></div>
    <script src="../../../app-assets/js/enlace/enlace.js"></script>

</body>
<!-- END: Body-->

</html>