<div th:fragment="mainMenu" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li th:each="e : ${enlaces}" class="nav-item">
                <a th:href="${e.ruta_enlace != null and e.ruta_enlace != '' ? e.ruta_enlace : '#'}">
                    <i th:class="${e.icono_enlace}"></i>
                    <span th:class="${'menu-title'}" th:text="${e.nom_enlace}"></span>
                </a>
                <ul class="menu-content">
                    <li th:each="se : ${e.subEnlaces}">
                        <a class="menu-item" th:href="${se.ruta_subenlace}">
                            <i></i>
                            <span data-i18n="eCommerce" th:text="${se.nom_sub_enlace}"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

