<table class="table table-striped table-bordered alt-pagination" id="tablePEE">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody id="tbodyPE">
        <tr th:each="p , num: ${productos}" style="font-size: small;">
            <td th:text="${num.index + 1}"></td>
            <td class="td-nombre" th:text="${p.nom_producto}"></td>
            <td class="td-codigo" th:text="${p.cod_producto}"></td>
            <td class="td-descripcion" th:text="${p.descripcion_producto}"></td>
            <td class="td-stock" th:text="${p.stock}"></td>
            <td class="td-precio">
                <span class="precio-valor" id="editar_precio" th:text="${p.precio}" th:data-codigo="${p.cod_producto}"
                    th:data-precio="${p.precio}"
                    style="cursor: pointer; color: #007bff;">
                </span>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-icon seleccionar-producto btn-success mr-1 mb-1 ">
                    <i class="la la-check"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Accion</th>
        </tr>
    </tfoot>
</table>