<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user-check"></i> Datos Cliente</h4>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput1">Nombres</label>
                                <div class="col-md-9 mx-auto">
                                    <input type="text" id="projectinput1" class="form-control" placeholder="Nombres" name="fname" required
                                        data-validation-required-message="Campo Requerido">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput2">NIT</label>
                                <div class="col-md-9 mx-auto">
                                    <input type="number" id="projectinput2" class="form-control" placeholder="NIT" name="lname" required
                                        data-validation-required-message="Campo Requerido">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput3">Cedula de
                                    Identidad (C.I)</label>
                                <div class="col-md-9 mx-auto">
                                    <input type="text" id="projectinput3" class="form-control" placeholder="CI" name="email" required
                                        data-validation-required-message="Campo Requerido">
                                </div>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user-check"></i> Listado de Clientes</h4>
                            <table class="table table-striped table-bordered alt-pagination" id="tableA">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Stock</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="r , num: ${roles}">
                                        <td th:text="${num.index + 1}"></td>
                    
                                        <td class="text-center">
                                            <div class="btn-group mr-1 mb-1">
                                                <button type="button" class="btn btn-secondary btn-min-width dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                        class="la la-user"></i>
                                                    Opciones</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Editar</a>
                                                    <a class="dropdown-item" href="#">Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Stock</th>
                                        <th>Accion</th>
                                    </tr>
                                </tfoot>
                            </table>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

