<div  class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel17">Formulario Enlace</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form th:action="@{../registrarEnlace}" method="post" id="form1">
        <div class="modal-body">
            <label>Rol: </label>
            <div class="form-group">
                <select class="select2 form-control block" id="responsive_single" name="id_rol" style="width: 100%;">
                    <option value="" selected></option>
                    <option th:each="r : ${roles}" th:value="${r.id_rol}" th:text="${r.nom_rol}">Alaska</option>
                    <!-- <option value="HI">Hawaii</option> -->
                </select>
            </div>
    
            <label>Nombre Enlace: </label>
            <div class="form-group">
                <input type="hidden" name="id_enlace">
                <input type="text" placeholder="Nombre Enlace" name="nom_enlace" class="form-control">
            </div>
    
            <label>Ruta Enlace: </label>
            <div class="form-group">
                <input type="text" placeholder=" /Ruta" name="ruta_enlace" class="form-control">
            </div>
    
            <label>Icono Enlace: </label>
            <div class="form-group">
                <input type="text" placeholder="la la-home" name="icono_enlace" class="form-control">
            </div>
    
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-outline-success">Registrar</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#responsive_single').select2({
            placeholder: "Seleccione..."
        });

        $('#form1').submit(function (event) {
            event.preventDefault();

            var form = document.getElementById("form1");
            var action = form.action;
            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    var mensaje = response;
                    if (mensaje === "1") {
                        Swal.fire({
                            title: 'Registro Exitoso!',
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        })
                        cargarTabla();
                        $("#formEnlace").modal("hide");

                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error);
                    console.error(error);
                    // Manejo de errores
                }
            });

        });
    });

</script>